@page
@model Waling.Pages.Program.CreateModel
@{
    ViewData["Title"] = "Create a new program";
}


<form asp-action="Create" method="post">

    <label class="required" asp-for="WalingPerson">Please select your favorite Waling Person</label>
    <span asp-validation-for="WalingPerson" class="text-danger"></span>
    <br />
@*    <select id="WalingPerson" class="form-control" name="WalingPerson" asp-for="WalingPerson" asp-items="Model.WalingPersons">
        <option selected hidden disabled>Choose an option</option>
    </select>*@
    <datalist id="WalingPersons">
        @foreach (var person in Model.WalingPersons)
        {
            <option value="@person.Value">@person.Text</option>
        }
    </datalist>
    <input autocomplete="on" list="WalingPersons" asp-for="WalingPerson" asp-items="Model.WalingPersons" />
    <br />
    <label class="form-label required" for="ProjectedOld">Projected Date Old</label>
    <span asp-validation-for="ProjectedOld" class="text-danger"></span>
    <br />
    <input required type="date" class="form-control w-50" asp-for="ProjectedOld" value="@DateTime.UtcNow.Date">
    <br />
    <label class="form-label required" for="ProjectedNew">Projected Date New</label>
    <span asp-validation-for="ProjectedNew" class="text-danger"></span>
    <br />
    <input required type="date" class="form-control w-50" asp-for="ProjectedNew" value="@DateTime.UtcNow.Date">
    <br />
    <button class="primary mt-2 mb-2" type="submit" onclick="sayHello('avocado')'">Submit</button>
</form>
