@page
@model Waling.Pages.Program.CreateModel
@{
    ViewData["Title"] = "Create a new program";
}

<small><pre>Total count: @Model.WalingPersons.Count()</pre></small>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <label class="required" asp-for="SelectedWalingPersons">Please select your favorite Waling Person</label>
    <span asp-validation-for="SelectedWalingPersons" class="text-danger"></span>
    <br />
    <select id="WalingPerson" class="form-control walingpersonselect" name="WalingPerson" asp-for="SelectedWalingPersons" asp-items="Model.WalingPersons" multiple required onchange="populateInputWalingPerson(this)">
        <option hidden disabled value="">Choose an option</option>
    </select>
    <input type="hidden" asp-for="HiddenWalingPersons" />
    <br />
    <button class="primary mt-2 mb-2" type="submit" onclick="alert('avocado')'">Submit</button>
</form>

@section Scripts {
    <script src="~/js/multiselect-dropdown.js" defer></script>
}
