@page
@model Waling.Pages.Program.CreateModel
@{
    ViewData["Title"] = "Create a new program";
}


<form asp-action="Create" method="post">

    <p>select 2 (older, more mature, uniform)</p>

    <label class="required" asp-for="WalingPerson">Please select your favorite Waling Person</label>
    <span asp-validation-for="WalingPerson" class="text-danger"></span>
    <br />
    <select id="WalingPerson" class="form-control walingpersonselect" name="WalingPerson" asp-for="WalingPerson" asp-items="Model.WalingPersons">
        <option selected hidden disabled>Choose an option</option>
    </select>
    <br />
    <hr />

    <p>Data list (modern, native, depends on browser support)</p>

    <datalist id="ModernWalingPersons">
        @foreach (var person in Model.ModernWalingPersons)
        {
            <option value="@person.Value">@person.Text</option>
        }
    </datalist>
    <input class="form-control w-50" autocomplete="on" list="ModernWalingPersons" asp-for="ModernWalingPerson" asp-items="Model.ModernWalingPersons" />
    <hr />
    <br />
    <label class="form-label required" for="ProjectedOld">Projected Date Old</label>
    <span asp-validation-for="ProjectedOld" class="text-danger"></span>
    <br />
    <input required type="date" class="form-control w-50" asp-for="ProjectedOld" value="@DateTime.UtcNow.Date">
    <br />
    <label class="form-label required" for="ProjectedNew">Projected Date New</label>
    <span asp-validation-for="ProjectedNew" class="text-danger"></span>
    <br />
    <input required type="date" class="form-control w-50" asp-for="ProjectedNew" value="@DateTime.UtcNow.Date">
    <br />
    <button class="primary mt-2 mb-2" type="submit" onclick="sayHello('avocado')'">Submit</button>
</form>
