@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="pratikchhya">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello, Dave! How are you?</p>
    <p>Hello, Jeff! How are you?</p>
</div>

<component type="typeof(Waling.Pages.Poll)" render-mode="Server" />

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}