<article>
    <h2>
        What's up with Woot!
    </h2>
    <h3>
        We're more than just deals, you know...
    </h3>

    <p>Woot Asks</p>
    <form id="poll" onsubmit="onSubmitPoll()">
        <fieldset>
            <legend>Best cheese for grilled cheese?</legend>

            <input type="radio" id="american" name="cheese" value="american">
            <label for="american">American</label>
            <br>

            <input type="radio" id="cheddar" name="cheese" value="cheese">
            <label for="cheddar">Cheddar</label>
            <br>

            <input type="radio" id="jack" name="cheese" value="M" />
            <label for="jack">Jack</label>
            <br>

            <input type="radio" id="mozzarella" name="cheese" value="M" />
            <label for="mozzarella">Mozzarella</label>
            <br>

            <input type="radio" id="something-else" name="cheese" value="M" />
            <label for="something-else">Something else (tell us)</label>
        </fieldset>

        <button type="submit" id="submit-button">vote</button>
        <button type="button" id="discuss-button">Discuss the poll</button>
    </form>

</article>

@code {

}
