@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a learning project. There is no expectation of privacy here.</p>

<a href="#" onclick="Privacy.prototype.Respect('unknown name');">Click here to get respects.</a>
@section Scripts {
    <script src="js/privacy.js"></script>
}